<g data-bind='visible: player.region == GameConstants.Region.paldea'>

    <g data-bind="visible: player.subregion == SubRegions.getSubRegion(GameConstants.Region.paldea, 'Paldea').id">
        <image width="1600" height="960" data-bind="attr: {
        'xlink:href':'assets/images/paldea.png?v=$VERSION',
        href:'assets/images/paldea.png?v=$VERSION'
        }"></image>

        <!-- ------ -->
        <!-- ROUTES -->
        <!-- ------ -->

        <%- include('templates/mapRoute',
            { route: 1, region: 9
            , width: 2, height: 3
            , x: 36, y: 49, name: "PP"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 2, region: 9
            , width: 3, height: 2
            , x: 41, y: 46, name: "SP1"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 3, region: 9
            , width: 4, height: 2
            , x: 37, y: 43, name: "SP2"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 4, region: 9
            , width: 5, height: 2
            , x: 47, y: 49, name: "SP3"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 5, region: 9
            , width: 5, height: 2
            , x: 56, y: 45, name: "SP4"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 6, region: 9
            , width: 5, height: 2
            , x: 28, y: 37, name: "WP1"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 7, region: 9
            , width: 6, height: 2
            , x: 59, y: 50, name: "SP5"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 8, region: 9
            , width: 5, height: 2
            , x: 66, y: 41, name: "EP1"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 9, region: 9
            , width: 6, height: 2
            , x: 75, y: 36, name: "EP2"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 10, region: 9
            , width: 2, height: 6
            , x: 74, y: 26, name: "EP3"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 11, region: 9
            , width: 5, height: 3
            , x: 15, y: 27, name: "AD"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 12, region: 9
            , width: 2, height: 5
            , x: 24, y: 24, name: "WP2"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 13, region: 9
            , width: 2, height: 6
            , x: 15, y: 15, name: "WP3"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 14, region: 9
            , width: 4, height: 4
            , x: 83, y: 28, name: "TT"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 15, region: 9
            , width: 5, height: 2
            , x: 62, y: 55, name: "SP6"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 16, region: 9
            , width: 2, height: 6
            , x: 63, y: 14, name: "DP"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 17, region: 9
            , width: 5, height: 2
            , x: 48, y: 14, name: "NP1"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 18, region: 9
            , width: 5, height: 2
            , x: 40, y: 9, name: "NP2"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 19, region: 9
            , width: 6, height: 4
            , x: 19, y: 11, name: "CL"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 20, region: 9
            , width: 4, height: 2
            , x: 33, y: 5, name: "NP3"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 21, region: 9
            , width: 3, height: 5
            , x: 86, y: 39, name: "ST"
            })
        %>

        <!-- ----- -->
        <!-- TOWNS -->
        <!-- ----- -->

        <!--Cabo Poco-->
        <%- include('templates/mapTown',
            { name: "Cabo Poco"
            , x: 33, y: 52
            , width: 3, height: 3
            , home: true
            })
        %>

        <!--Poco Path Lighthouse-->
        <%- include('templates/mapTown',
            { name: "Poco Path Lighthouse"
            , x: 38, y: 48
            , width: 3, height: 3
            })
        %>

        <!--Los Platos-->
        <%- include('templates/mapTown',
            { name: "Los Platos"
            , x: 44, y: 46
            , width: 3, height: 3
            })
        %>

        <!--Mesagoza-->
        <%- include('templates/mapTown',
            { name: "Mesagoza"
            , x: 49, y: 39
            , width: 5, height: 4
            })
        %>

        <!--Naranjuva Academy-->
        <%- include('templates/mapTown',
            { name: "Naranjuva Academy"
            , x: 54, y: 37
            , width: 3, height: 2
            })
        %>

        <!--Pokémon League Paldea-->
        <%- include('templates/mapTown',
            { name: "Pokémon League Paldea"
            , x: 45, y: 37
            , width: 3, height: 3
            })
        %>

        <!--Cortondo-->
        <%- include('templates/mapTown',
            { name: "Cortondo"
            , x: 33, y: 40
            , width: 3, height: 3
            })
        %>

        <!--Artazon-->
        <%- include('templates/mapTown',
            { name: "Artazon"
            , x: 62, y: 44
            , width: 3, height: 3
            })
        %>

        <!--Levincia-->
        <%- include('templates/mapTown',
            { name: "Levincia"
            , x: 81, y: 33
            , width: 3, height: 3
            })
        %>

        <!--Zapapico-->
        <%- include('templates/mapTown',
            { name: "Zapapico"
            , x: 76, y: 22
            , width: 3, height: 3
            })
        %>

        <!--Cascarrafa-->
        <%- include('templates/mapTown',
            { name: "Cascarrafa"
            , x: 21, y: 30
            , width: 3, height: 3
            })
        %>

        <!--Porto Marinada-->
        <%- include('templates/mapTown',
            { name: "Porto Marinada"
            , x: 10, y: 30
            , width: 3, height: 3
            })
        %>

        <!--Medali-->
        <%- include('templates/mapTown',
            { name: "Medali"
            , x: 25, y: 19
            , width: 3, height: 3
            })
        %>

        <!--Alfornada-->
        <%- include('templates/mapTown',
            { name: "Alfornada"
            , x: 68, y: 52
            , width: 3, height: 3
            })
        %>

        <!--Montenevera-->
        <%- include('templates/mapTown',
            { name: "Montenevera"
            , x: 62, y: 10
            , width: 3, height: 3
            })
        %>

        <!--Segin Squad's Base-->
        <%- include('templates/mapTown',
            { name: "Segin Squad's Base"
            , x: 31, y: 34
            , width: 2, height: 2
            })
        %>

        <!--Schedar Squad's Base-->
        <%- include('templates/mapTown',
            { name: "Schedar Squad's Base"
            , x: 71, y: 38
            , width: 2, height: 2
            })
        %>

        <!--Navi Squad's Base-->
        <%- include('templates/mapTown',
            { name: "Navi Squad's Base"
            , x: 13, y: 22
            , width: 2, height: 2
            })
        %>

        <!--Ruchbah Squad's Base-->
        <%- include('templates/mapTown',
            { name: "Ruchbah Squad's Base"
            , x: 80, y: 30
            , width: 2, height: 2
            })
        %>

        <!--Caph Squad's Base-->
        <%- include('templates/mapTown',
            { name: "Caph Squad's Base"
            , x: 46, y: 11
            , width: 2, height: 2
            })
        %>

        <!--Zero Gate-->
        <%- include('templates/mapTown',
            { name: "Zero Gate"
            , x: 51, y: 17
            , width: 3, height: 2
            })
        %>

        <!--Zero Lab-->
        <%- include('templates/mapTown',
            { name: "Zero Lab"
            , x: 51, y: 29
            , width: 3, height: 2
            })
        %>

        <!-- -------- -->
        <!-- DUNGEONS -->
        <!-- -------- -->

        <!--Inlet Grotto-->
        <%- include('templates/mapDungeon',
            { name: "Inlet Grotto"
            , x: 56, y: 54
            , width: 2, height: 2
            })
        %>

        <!--Glaseado Mountain-->
        <%- include('templates/mapDungeon',
            { name: "Glaseado Mountain"
            , x: 55, y: 6
            , width: 3, height: 3
            })
        %>

        <!--Alfornada Cavern-->
        <%- include('templates/mapDungeon',
            { name: "Alfornada Cavern"
            , x: 72, y: 49
            , width: 2, height: 2
            })
        %>

        <!--Grasswither Shrine-->
        <%- include('templates/mapDungeon',
            { name: "Grasswither Shrine"
            , x: 88, y: 22
            , width: 2, height: 2
            })
        %>

        <!--Icerend Shrine-->
        <%- include('templates/mapDungeon',
            { name: "Icerend Shrine"
            , x: 40, y: 4
            , width: 2, height: 2
            })
        %>

        <!--Groundblight Shrine-->
        <%- include('templates/mapDungeon',
            { name: "Groundblight Shrine"
            , x: 16, y: 35
            , width: 2, height: 2
            })
        %>

        <!--Firescourge Shrine-->
        <%- include('templates/mapDungeon',
            { name: "Firescourge Shrine"
            , x: 88, y: 45
            , width: 2, height: 2
            })
        %>

        <!--Area Zero-->
        <%- include('templates/mapDungeon',
            { name: "Area Zero"
            , x: 48, y: 23
            , width: 3, height: 3
            })
        %>

        <!--Area Zero Depths-->
        <%- include('templates/mapDungeon',
            { name: "Area Zero Depths"
            , x: 54, y: 23
            , width: 3, height: 3
            })
        %>

        <!-- ------------------ -->
        <!-- PLACES OF INTEREST -->
        <!-- ------------------ -->

        <%- include('templates/mapPOI',
            { name: "Dock"
            , x: 7, y: 31
            , width: 3, height: 2
            , databind: "click:function(){MapHelper.openShipModal()}, attr: { class: MapHelper.calculateTownCssClass('Porto Marinada') }"
            })
        %>

        <%- include('templates/mapPOI',
            { name: "Underground Entrance"
            , x: 40, y: 54
            , width: 2, height: 2
            , databind: "click:function(){UndergroundController.openUndergroundModal()}, attr: { class: App.game.underground.canAccess() ? 'completed' : 'locked' }"
            })
        %>

        <%- include('templates/mapPOI',
            { name: "Farm"
            , x: 27, y: 47
            , width: 3, height: 2
            , databind: "click:function(){FarmController.openFarmModal()}, attr: { class: App.game.farming.canAccess() ? 'completed' : 'locked' }"
            })
        %>

        <%- include('templates/mapPOI',
            { name: "Pokémon Day Care"
            , x: 61, y: 30
            , width: 3, height: 3
            , databind: "click:function(){BreedingController.openBreedingModal()}, attr: { class: App.game.breeding.canAccess() ? 'completed' : 'locked' }"
            })
        %>

        <%- include('templates/mapBlimp',
            { name: "Instructor Jacq"
            , x: 94, y: 57
            , town: "Cabo Poco"
            })
        %>
    </g>

    <g data-bind="visible: player.subregion == SubRegions.getSubRegion(GameConstants.Region.paldea, 'Kitakami').id">
        <image width="1600" height="960" data-bind="attr: {
        'xlink:href':'assets/images/paldea-kitakami.png?v=$VERSION',
        href:'assets/images/paldea-kitakami.png?v=$VERSION'
        }"></image>

        <!-- ------ -->
        <!-- ROUTES -->
        <!-- ------ -->

        <%- include('templates/mapRoute',
            { route: 22, region: 9
            , width: 5, height: 2
            , x: 42, y: 44, name: "KR"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 23, region: 9
            , width: 4, height: 3
            , x: 30, y: 38, name: "AH"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 24, region: 9
            , width: 5, height: 2
            , x: 54, y: 49, name: "RR"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 25, region: 9
            , width: 4, height: 4
            , x: 48, y: 24, name: "OM"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 26, region: 9
            , width: 3, height: 3
            , x: 53, y: 14, name: "CP"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 27, region: 9
            , width: 4, height: 3
            , x: 62, y: 34, name: "WF"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 28, region: 9
            , width: 4, height: 3
            , x: 61, y: 25, name: "MC"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 29, region: 9
            , width: 4, height: 3
            , x: 40, y: 19, name: "FG"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 30, region: 9
            , width: 4, height: 3
            , x: 67, y: 41, name: "PB"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 31, region: 9
            , width: 4, height: 3
            , x: 33, y: 26, name: "KW"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 32, region: 9
            , width: 3, height: 3
            , x: 25, y: 31, name: "TW"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 33, region: 9
            , width: 3, height: 2
            , x: 44, y: 31, name: "IP"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 34, region: 9
            , width: 4, height: 3
            , x: 57, y: 9, name: "CW"
            })
        %>

        <!-- ----- -->
        <!-- TOWNS -->
        <!-- ----- -->

        <!--Mossui Town-->
        <%- include('templates/mapTown',
            { name: "Mossui Town"
            , x: 39, y: 40
            , width: 3, height: 3
            })
        %>

        <!--Kitakami Hall-->
        <%- include('templates/mapTown',
            { name: "Kitakami Hall"
            , x: 56, y: 43
            , width: 3, height: 3
            })
        %>

        <!--Loyalty Plaza-->
        <%- include('templates/mapTown',
            { name: "Loyalty Plaza"
            , x: 48, y: 46
            , width: 3, height: 3
            })
        %>

        <!-- -------- -->
        <!-- DUNGEONS -->
        <!-- -------- -->

        <!--Oni's Maw-->
        <%- include('templates/mapDungeon',
            { name: "Oni's Maw"
            , x: 53, y: 29
            , width: 2, height: 2
            })
        %>

        <!--Dreaded Den-->
        <%- include('templates/mapDungeon',
            { name: "Dreaded Den"
            , x: 22, y: 27
            , width: 2, height: 2
            })
        %>
    </g>

    <g data-bind="visible: player.subregion == SubRegions.getSubRegion(GameConstants.Region.paldea, 'Blueberry Academy').id">
        <image width="1600" height="960" data-bind="attr: {
        'xlink:href':'assets/images/paldea-blueberry.png?v=$VERSION',
        href:'assets/images/paldea-blueberry.png?v=$VERSION'
        }"></image>

        <!-- ------ -->
        <!-- ROUTES -->
        <!-- ------ -->

        <%- include('templates/mapRoute',
            { route: 35, region: 9
            , width: 6, height: 6
            , x: 31, y: 27, name: "SB"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 36, region: 9
            , width: 8, height: 4
            , x: 47, y: 45, name: "CB"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 37, region: 9
            , width: 6, height: 6
            , x: 64, y: 25, name: "CN"
            })
        %>

        <%- include('templates/mapRoute',
            { route: 38, region: 9
            , width: 8, height: 4
            , x: 47, y: 10, name: "PB"
            })
        %>

        <!-- ----- -->
        <!-- TOWNS -->
        <!-- ----- -->

        <!--Blueberry Academy-->
        <%- include('templates/mapTown',
            { name: "Blueberry Academy"
            , x: 8, y: 6
            , width: 5, height: 4
            })
        %>

        <!--Central Plaza-->
        <%- include('templates/mapTown',
            { name: "Central Plaza"
            , x: 49, y: 28
            , width: 4, height: 4
            })
        %>

        <!-- -------- -->
        <!-- DUNGEONS -->
        <!-- -------- -->

        <!--Area Zero Underdepths-->
        <%- include('templates/mapDungeon',
            { name: "Area Zero Underdepths"
            , x: 56, y: 36
            , width: 3, height: 3
            })
        %>
    </g>
</g>
